.tarjetaViaje{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
    width: 49%;
    margin: 5px;
    float: left;
    border-color: #8b8b8b;
    background-color: #f8f8f8;
}
.row{
    margin: auto;
}
.diasBuscador{
    float:right;  
    margin-top:-85px;
    margin-right: 220px;

}
.diasBuscador td{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.diaBuscador{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 40px;
    background-color: transparent;
    border-color:#ccc;
    color:#aaa;
     
}

.diaBuscadorSeleccionado{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 40px;
    background-color: #337ab7;
    border-color:#ccc;
    color:white;
    
}
.dias{
    margin: auto;
}
.dias td{
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}
.dia{
    width: 21px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: white;
}
.diaSeleccionado{
    width: 21px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: #337ab7;
    color: white;
}
.plazas{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: #337ab7;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}
.plazasAgotado{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}
.zonaPlazas{
    text-align: center;
    margin-top: 15px;
}
.tipoSeleccionado{
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #8b8b8b;
    background-color: #337ab7;
    padding: 2px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.informacion{
    width: 50%; 
    float: left
}
.nombre{
    width: 50%;
    float: left;
}
.iconoVolante{
    height: 17px;
    float: next
}
.mapa{
    width: 100%; 
    float: left
}
.tipoNoSeleccionado{
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #8b8b8b;
    background-color: white;
    padding: 2px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.tipoTrayecto{
    margin-bottom: 15px;
    margin-top: 15px;
}
.nombreConductor{
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #8b8b8b;
    background-color: #337ab7;
    padding: 2px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.nombreExperiencia{
    width: 100%;
    float: left; 
    border: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 2px;
}

.topcoat-combo-input-filtro{
    border: 1px solid #ccc;
    padding: 6px 8px;
    font-size:25px;
    overflow:hidden;
    display:table;
    margin:20px auto;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 250px;
    border-radius:5px;
    background:transparent;
    box-shadow: 1px 1px #fefefe, inset 1px 1px #fefefe;
    color:#aaa;
    text-shadow:1px 1px #fefefe;
}

.topcoat-datalist-filtro {
  display: block;
  box-shadow: 0 0 4px rgba(0,0,0,.3);

}

.topcoat-combo-input-filtro:focus {
  background-color: #fff;
  color: #454545;
  border: 1px solid #0036ff;
  box-shadow: 0 0 0 2px #6fb5f1;
}

.topcoat-combo-input-filtro:disabled::-webkit-input-placeholder {
  color: #454545;
}

.topcoat-combo-input-filtro:disabled::-moz-input-placeholder {
  color: #454545;
}

.topcoat-combo-input-filtro:disabled::-ms-input-placeholder {
  color: #454545;
}

.topcoat-combo-input-filtro:invalid {
  border: 1px solid #ec514e;
}